In [15]:
mylist =["millonarios", "comida", "deporte"]
print (mylist)

for item in mylist:
    print(item)

['millonarios', 'comida', 'deporte']
millonarios
comida
deporte

In [21]:
lista=[1, "nose", 23]

listin=list([25, 2, "millonarios"])

print(lista)

print(listin)

for item in lista:
    print(item)

for item in listin:
    print(item)

[1, 'nose', 23]
[25, 2, 'millonarios']
1
nose
23
25
2
millonarios

In [25]:
mi_lista = ['MILLOS', 'ORNITORRINCO', 'COMIDA', 'DORMIR', 'FUTBOL']

print(mi_lista[0])
print(mi_lista[-1])
print(mi_lista[1])
print(mi_lista[2])
print(mi_lista[-2])

MILLOS
FUTBOL
ORNITORRINCO
COMIDA
DORMIR

In [29]:
edades =[20, 41, 6, 18, 23]

for edad in edades:
  print(edad)

20
41
6
18
23

In [30]:
edades =[20, 41, 6, 18, 23]

for i in range(len(edades)):
  print(edades[i])

20
41
6
18
23

In [32]:
edades =[20, 41, 6, 18, 23]

indice=0

while indice<len(edades):
  print(edades[indice])
  indice+=1

20
41
6
18
23

In [36]:
números = []

números.append(10)
números.append(5)
números.append(3)

print(números)
# Mostrará [10, 5, 3]

[10, 5, 3]